Language: C
BasedOnStyle: LLVM
Standard: Latest

# R&D Style
IndentWidth: 2
ContinuationIndentWidth: 2
AccessModifierOffset: -2
TabWidth: 2
UseTab: Never

ColumnLimit: 100

MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false

BreakBeforeBraces: Attach

AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: Never

AlignAfterOpenBracket: Align
AlignOperands: Align
AlignTrailingComments: true

SortIncludes: CaseSensitive
IncludeBlocks: Regroup

IndentGotoLabels: false

SeparateDefinitionBlocks: Always

